@import url('https://fonts.googleapis.com/css2?family=Domine&family=Marmelad&family=Old+Standard+TT&family=Raleway:wght@300;400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /* 1rem /= 10px */
}
/*Tamaños de fuente responsivos*/
h1{
    font-size: clamp(2.7648rem, calc(1.5611119444vw + 2.2652441778rem), 4.2634674666rem);
}
h2{
    font-size: clamp(2.304rem, calc(0.931666875vw + 2.0058666rem), 3.1984002rem);
}
h3{
    font-size: clamp(1.92rem, calc(0.499375vw + 1.7602rem), 2.3994rem);
}
h4{
    font-size: clamp(1.6rem, calc(0.2083333333vw + 1.5333333333rem), 1.8rem);
}
h5{
    font-size: clamp(1.2rem, calc(0vw + 1.2rem), 1.2rem);
}
h6{
    font-size: clamp(1.1rem, calc(0vw + 1.1rem), 1.1rem);
}
body{
    font-size: clamp(calc(1.4 * 1rem),calc(1.4 * 1rem + ((1vw - ( 32 / 100) * 1rem) * (100 * ( 1.8 - 1.4) / ( 128 - 32)))),calc(1.8 * 1rem));
}


.contenedor{
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}
body.home{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/home-banner.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
body.home .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body.home img{
    max-width: 150px;
    margin-bottom: 50px;
}
body.home h1, body.home p{
    color: #D8BB93;
    font-family: 'Old Standard TT', serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
}
body.home h1{
    font-size: 5.8rem;
}
body.home p{
    font-size: 2.8rem;
}
body.home a{
    color: #fff;
    padding: 30px 80px;
    text-decoration: none;
    border: 1px solid #D8BB93;
    font-size: 1.8rem;
    font-family: 'Marmelad';
    text-transform: uppercase;
    margin-top: 50px;
    transition: all 0.3s ease-in-out;
}
body.home a:hover{
    background-color: #D8BB93;
}
/*Menu de Navegacion*/
header{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .contenedor img.logo-img{
    max-height: 95px;
}
.toggle-menu{
    text-decoration: none;
    color: #111;
    font-family: 'Marmelad';
    display: none;
}
.toggle-menu::before{
    content: url(../img/menu-svgrepo.svg);
    width: 20px;
    margin-right: 8px;
}
header .contenedor nav{
    display: flex;
    align-items: center;
}
header .contenedor nav span{
    display: none;
}
header .contenedor nav a{
    font-family: 'Marmelad';
    font-size: 1.6rem;
    text-decoration: none;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}
header .contenedor nav .vl{
    height: 55px;
    border: 1px solid #6C4B1C;
    margin: 0 35px;
}
header .contenedor div.login{
    display: flex;
    align-items: center;
}
header .contenedor div.login a img{
    height: 40px;
}
header .contenedor div.login a:has(p){
    text-decoration: none;
    font-family: 'Raleway';
    color: #111;
    margin-left: 15px;
    font-size: 1.7rem;
}
/*Nosotros*/
section.nosotros.contenedor{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
section.nosotros.contenedor .col-txt-equipo{
    width: 40%;
}
section.nosotros.contenedor .col-equipo{
    width: 60%;
}
section.nosotros .col-equipo .flechas{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}
section.nosotros .flechas .flecha-slider{
    cursor: pointer;
}
section.nosotros h1{
    font-family: 'Raleway';
    font-weight: 500;
    margin-bottom: 58px;
    color: hsl(35, 59%, 27%);
    text-transform: uppercase;
    letter-spacing: 0.04em;
}
section.nosotros .col-txt-equipo p{
    font-family: 'Raleway';
    font-weight: 300;
    line-height: 2.8rem;
    letter-spacing: 0.04em;
}
section.nosotros .col-imgs-equipo{
    display: grid;
    grid-template-columns: repeat(2,48%);
    grid-auto-flow: column;
    gap: 20px;
    color: #111111;
}
section.nosotros .col-imgs-equipo img{
    max-width: 100%;
}
section.nosotros .col-imgs-equipo h3{
    font-family: 'Raleway';
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 8px;
}
section.nosotros .col-imgs-equipo p{
    font-family: 'Raleway';
    font-weight: 300;
    letter-spacing: 0.08em;
}
div.equipo-2 p{
    text-align: center;
    font-size: 1.85rem;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 400;
    letter-spacing: 0.04em;
    margin-bottom: 40px;
}
section.nosotros .col-imgs-equipo .miembro-equipo{
    opacity: 0;
}
section.nosotros .col-imgs-equipo .miembro--show{
    opacity: 1;
}
.miembro--show.col-1{
    grid-column: 1;
}
/*Login*/
.columnas__login {
    display: flex;
    flex-wrap: nowrap;
}
.login--img {
    width: 45%;
    height: 450px;
}
.img__login{
    width: 100%;
    height: 100%;
}
.formulario--box{
    width: 650px;
    margin: 1%;
    margin-left: 5%;
    background: #FFFFFF;
    box-shadow: 0px -1px 20px -10px rgb(0 0 0 / 25%);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centrado__loginh2{
    justify-content: center;
    padding: 25px;
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
}
.vector_login--tamano{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.datos{
    text-align: left;
    align-self: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    border-radius: 4px;
}
.cuadro__datos{
    display: flex;
    flex-direction: row;
    width: 365px;
    height: 30px;
    background: #FDF0DD;
    border-radius: 4px;
    gap: 5px;
    margin-top: 5px;
}
.correo__img {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 2px;
}
.correo__img--tamano{
    width: 23px;
    height: 23px;
}
.datos__input {
    width: 300px;
    height: 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    border: none;
    background: #FDF0DD;
    outline: none;
}
.datos__input--pass {
    width: 300px;
    height: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    border: none;
    background: #FDF0DD;
    outline: none;
}
.datos__input::placeholder{
    color: #B6B2B2;
}
.correo__relleno {
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 2px;
}
.correo__relleno--tamano{
    width: 18px;
    height: 18px;
    margin-top: 4px;
}
.contrasena__p{
    margin-top: 30px;
}
.contrasena__img{
    width: 30px;
    height: 30px;
}
.contrasena__img--tamano{
    width: 23px;
    height: 23px;
    margin-top: 3px;
    margin-left: 3px;
}
.contrasena__relleno{
    width: 30px;
    height: 30px;
}
.contrasena__relleno--tamano{
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: 5px;
    background: #FDF0DD;
    outline: none;
    background-image: url(../img/ocult__icon.svg);
    border: none;
    background-repeat: round;
    cursor: pointer;
}
.login__button{
    width: 200px;
    height: 50px;
    background: #6C4B1C;
    border-radius: 8px;
    margin-top: 25px;
    font-family: 'Marmelad';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.center{
    align-self: center;
}
.SinCuenta{
    margin-top: 55px;
    margin-left: auto;
    margin-right: 45px;
}
.login__registro{
    color: #C3985D;
    cursor: pointer;
    text-decoration: none;
}
/*Registro*/
.centrado__registroh2{
    justify-content: center;
    padding: 25px;
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 38px;
}
.registroh2{
    font-size: 25px;
}
.nombre__img{
    width: 13px;
    height: 20px;
    text-align: center;
    margin-top: 4px;
    margin-left: 6px;
}
.correo__p{
    margin-top: 20px;
}
.celular__p{
    margin-top: 20px;
}
.celular__img{
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 2px;
}
.celular__img--tamano{
    width: 20px;
    height: 20px;
    margin-top: 2px;
}
.datos__input--celular{
    margin-top: -2px;
    background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.login--img--registro{
    height: 590px;
}

/*Bamboo*/
.banner{
    width: 100%;
    height: 400px;
    background-image: url(../img/banner-bamboo.png);
    background-repeat: round;
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.04em;   
    color: #FFFFFF;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
    align-items: center;
    justify-content: center;
}
.columnas{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 30px;
}
.cuadro{
    width: 50%;
    height: 280px;
    display: flex;
    flex-direction: column;
}
.titulo__bamboo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0.04em;
    color: #6C4B1C;
    display: flex;
    justify-content: center;
    padding: 15px;
}
.subtitulo__bamboo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: #6C4B1C;
}
.texto__bamboo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #111111;
    margin-top: 20px;
    margin-left: 90px;
}
.linea__bamboo{
    border-bottom: 5px solid #C3985D ;
    margin-top: 25px;
    width: 80%;
}
.video__bamboo{
    position: relative;
    overflow: hidden;
    width: 50%;
}
.video__bamboo iframe{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 75%;
    height: 270px;
}
.lorem__bamboo{
    width: 45%;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #111111;
}
div.lorem__bamboo{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Proyectos*/

.banner_proyectos{
    width: 100%;
    height: 400px;
    background-image: url(../img/banner-proyectos.png);
    background-repeat: round;
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size:50px;
    line-height: 75px;
    letter-spacing: 0.04em;   
    color: #FFFFFF;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
    align-items: center;
    justify-content: center;
}
.columnas__proyectos{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 30px;
}
.texto__anos_proyectos{
    font-family: 'Domine';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #C3985D;   
}
.linea__proyectos{
    border-bottom: 3px solid #C3985D ;
    margin-top: 10px;
    width: 550px;
}

.col-imgs-proyectos {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 35px;
    gap: 50px;
    margin-left: 50px;
}
.col-imgs-proyectos img{
    width: 460px;
    height: 190px;
}
.col-imgs-proyectos--chiquitos img{
    width: 460px;
    height: 190px;
}
.centrado{
    text-align: center;
}
.col-imgs-proyectos--chiquito{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 35px;
    gap: 50px;
    margin-left: 50px;
}
.col-imgs-proyectos--chiquito p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 35px;
    margin-top: 10px;
    letter-spacing: 0.1em;
    color: #6C4B1C;
}
.col-imgs-proyectos p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 35px;
    margin-top: 10px;
    letter-spacing: 0.1em;
    color: #6C4B1C;
}
.columnas__proyectos--margin-top{
    margin-top: 60px;
}
/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer > div{
    width: 30%;
}
footer div.linea{
    width: 100%;
    border: 3px solid #C3985D;
    width: 650px;
    margin-left: -380px;
}
footer .social-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social-media img{
    width: 35px;
    height: 35px;
}
/* Responsive */
/* Menu de navegacion*/
@media only screen and (min-width: 800px) and (max-width: 1070px){
    header .contenedor{
        flex-direction: column;
        gap: 25px;
    }
}
@media only screen and (max-width: 799px){
    header .contenedor nav{
        display: none;
        transition: all 0.3s ease-in-out;
    }
    header .contenedor nav span{
        display: block;
        font-family: 'Marmelad';
        color: #fff;
        text-decoration: underline;
        cursor: pointer;
    }
    .toggle-menu{
        display: flex;
    }
    header .contenedor nav{
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 60%;
        background-color: #6C4B1C;
        gap: 25px;
    }
    header .contenedor nav a{
        color: #fff;
    }
    header .contenedor nav .vl{
        display: none;
    }
    header .contenedor nav.active{
        display: flex;
    }

}
/*Footer*/
@media only screen and (max-width: 1140px){
    footer .linea-div{
        display: none;
    }
    footer{
        justify-content: space-around;
    }
}
@media only screen and (max-width: 749px){
    footer{
        justify-content: space-between;
    }
    footer .logo-footer img{
        max-width: 100%;
    }
    footer .social-media img{
        width: 25px;
        height: 25px;
    }
}
@media only screen and (max-width: 500px){
    footer{
        flex-direction: column;
    }
    footer .logo-footer{
        width: 50%;
        margin-bottom: 20px;
    }
}
/*Nosotros*/
@media only screen and (max-width: 900px){
    section.nosotros.contenedor{
        flex-direction: column;
    }
    section.nosotros.contenedor .col-txt-equipo, section.nosotros.contenedor .col-equipo{
        width: 100%;
    }
    div.equipo-2 p{
        font-size: 1.65rem;
    }
}
@media only screen and (max-width: 700px){
    div.equipo-2 p{
        font-size: 1.5rem;
    }
}