@import url('https://fonts.googleapis.com/css2?family=Domine&family=Marmelad&family=Old+Standard+TT&family=Raleway:wght@300;400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /* 1rem /= 10px */
}
/*Tamaños de fuente responsivos*/
h1{
    font-size: clamp(2.7648rem, calc(1.5611119444vw + 2.2652441778rem), 4.2634674666rem);
}
h2{
    font-size: clamp(2.304rem, calc(0.931666875vw + 2.0058666rem), 3.1984002rem);
}
h3{
    font-size: clamp(1.92rem, calc(0.499375vw + 1.7602rem), 2.3994rem);
}
h4{
    font-size: clamp(1.6rem, calc(0.2083333333vw + 1.5333333333rem), 1.8rem);
}
h5{
    font-size: clamp(1.2rem, calc(0vw + 1.2rem), 1.2rem);
}
h6{
    font-size: clamp(1.1rem, calc(0vw + 1.1rem), 1.1rem);
}
body{
    font-size: clamp(calc(1.4 * 1rem),calc(1.4 * 1rem + ((1vw - ( 32 / 100) * 1rem) * (100 * ( 1.8 - 1.4) / ( 128 - 32)))),calc(1.8 * 1rem));
}


.contenedor{
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}
body.home{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/home-banner.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
body.home .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body.home img{
    max-width: 150px;
    margin-bottom: 50px;
}
body.home h1, body.home p{
    color: #D8BB93;
    font-family: 'Old Standard TT', serif;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
}
body.home h1{
    font-size: 5.8rem;
}
body.home p{
    font-size: 2.8rem;
}
body.home a{
    color: #fff;
    padding: 30px 80px;
    text-decoration: none;
    border: 1px solid #D8BB93;
    font-size: 1.8rem;
    font-family: 'Marmelad';
    text-transform: uppercase;
    margin-top: 50px;
    transition: all 0.3s ease-in-out;
}
body.home a:hover{
    background-color: #D8BB93;
}
/*Menu de Navegacion*/
header{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .contenedor img.logo-img{
    max-height: 95px;
}
.toggle-menu{
    text-decoration: none;
    color: #111;
    font-family: 'Marmelad';
    display: none;
}
.toggle-menu::before{
    content: url(../img/menu-svgrepo.svg);
    width: 20px;
    margin-right: 8px;
}
header .contenedor nav{
    display: flex;
    align-items: center;
}
header .contenedor nav span{
    display: none;
}
header .contenedor nav a{
    font-family: 'Marmelad';
    font-size: 1.6rem;
    text-decoration: none;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}
header .contenedor nav .vl{
    height: 55px;
    border: 1px solid #6C4B1C;
    margin: 0 35px;
}
header .contenedor div.login{
    display: flex;
    align-items: center;
}
header .contenedor div.login a img{
    height: 40px;
}
header .contenedor div.login a:has(p){
    text-decoration: none;
    font-family: 'Raleway';
    color: #111;
    margin-left: 15px;
    font-size: 1.7rem;
}
/* Responsive */
/* Menu de navegacion*/
@media only screen and (min-width: 800px) and (max-width: 1070px){
    header .contenedor{
        flex-direction: column;
        gap: 25px;
    }
}
@media only screen and (max-width: 799px){
    header .contenedor nav{
        display: none;
        transition: all 0.3s ease-in-out;
    }
    header .contenedor nav span{
        display: block;
        font-family: 'Marmelad';
        color: #fff;
        text-decoration: underline;
        cursor: pointer;
    }
    .toggle-menu{
        display: flex;
    }
    header .contenedor nav{
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 60%;
        background-color: #6C4B1C;
        gap: 25px;
    }
    header .contenedor nav a{
        color: #fff;
    }
    header .contenedor nav .vl{
        display: none;
    }
    header .contenedor nav.active{
        display: flex;
    }

}